@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1> Payment Gateway  </h1></center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bank</h2>
        
        <p><a class="btn btn-default" href="http://localhost:51793/Banks/Index">Go to &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Merchant</h2>
        
        <p><a class="btn btn-default" href="http://localhost:51793/Merchants/Index">Go to &raquo;</a></p>
    </div>
    
</div>